{
  "ignoreFiles": [
    "dist/**",
    "docs/css/**"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "rules": {
    "alpha-value-notation": null,
    "color-function-notation": "legacy",
    "no-descending-specificity": null,
    "number-leading-zero": "never",
    "string-quotes": "single"
  }
}
