// --------------------------
// Documentation
// --------------------------
html,
body {
  height: 100%;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  display: block;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
}

ul,
ol {
  padding: 0;
}

:not(.grid-box):not(.btn):not(.form-field):not(option):not(tr) {
  transition: background-color .5s;
}

.header {
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  color: #333;
}

.navbar-brand{
  font-size: 24px;
}

// logo
.logo-wrap {
  display: inline-block;
  position: relative;
  float: left;
  width: 42px;
  height: 42px;
  margin-top: 9px;
  margin-right: 10px;
  text-align: center;
  border-radius: 100%;
  box-shadow: -2px 1px 10px 0 rgba(0, 0, 0, .2);
  -webkit-transform: rotateZ(-34deg);
  transform: rotateZ(-34deg);
}

@mixin logo-shape() {
  width: 16px;
  height: 4px;
  border-radius: 2px;
  background: #ffa200;
}

.logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -8px;
  @include logo-shape;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 4px;
    @include logo-shape;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: -4px;
    @include logo-shape;
  }
}


.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    >li {
      margin-bottom: 10px;
      font-size: 16px;
      >a {
        display: block;
        margin-bottom: 5px;
        color: #555;
      }
    }
  }
}

.content {
  >section {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
  }
}

.example {
  >.btn,
  >.btns {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

//grid
.grid-box {
  margin: 10px 0;
  text-align: center;
  background-color: #ffeeed;
  line-height: 2;
  border: 1px solid #ffb7b5;
  &:hover {
    background-color: #fbe2e1;
  }
}

//palette
.palette {
  border-radius: 4px;
  min-height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  color: #fff;
}

// ------------------------------
// Theme-dark
// ------------------------------
.theme-dark {
  .header {
    background-color: #262626;
    color: #fff;
  }
  .content {
    >section {
      border-bottom-color: #2d2d2d;
    }
  }
  .grid-box {
    background-color: #313131;
    border-color: #424242;
    color: #eee;
    &:hover {
      background-color: #424242;
    }
  }
}
