// --------------------------
// Documentation
// --------------------------
html,
body {
	height: 100%;
}

.header {
	width: 100%;
	height: 50%;
	text-align: center;
	background-color: #f5f5f5;
	&:before {
		content: "";
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
		overflow: hidden;
	}
}

.show {
	display: inline-block;
	vertical-align: middle;
}

.sidebar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding-top: 32px;
	padding-bottom: 32px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		>li {
			margin-bottom: 10px;
			font-size: 16px;
			font-weight: bold;
			>a {
				display: block;
				margin-bottom: 5px;
				color: #555;
			}
		}
	}
}

.content {
	>section {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #eee;
	}
}

//grid
.grid-box {
	margin-bottom: 10px;
	text-align: center;
	background-color: #ffeeed;
	line-height: 2;
	border: 1px solid #ffb7b5;
	&:hover {
		background-color: #fbe2e1;
	}
}

//palette
.palette {
	border-radius: 4px;
	min-height: 100px;
	margin-bottom: 15px;
	padding: 10px;
	color: #fff;
}

// ------------------------------
// Theme-dark
// ------------------------------
.theme-dark {
	.header {
		background-color: #383838;
		color: #fff;
	}
	.content {
		>section {
			border-bottom-color: #2d2d2d;
		}
	}
	.grid-box {
		background-color: #313131;
		border-color: #424242;
		color: #eee;
		&:hover {
			background-color: #424242;
		}
	}
}
