html,
body {
  height: 100%;
}

.header {
  width: 100%;
  height: 50%;
  text-align: center;
  background-color: #f5f5f5;
}

.header:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.show {
  display: inline-block;
  vertical-align: middle;
}

.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul > li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.sidebar ul > li > a {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.content > section {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.grid-box {
  margin: 10px 0;
  text-align: center;
  background-color: #ffeeed;
  line-height: 2;
  border: 1px solid #ffb7b5;
}

.grid-box:hover {
  background-color: #fbe2e1;
}

.palette {
  border-radius: 4px;
  min-height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  color: #fff;
}

.theme-dark .header {
  background-color: #383838;
  color: #fff;
}

.theme-dark .content > section {
  border-bottom-color: #2d2d2d;
}

.theme-dark .grid-box {
  background-color: #313131;
  border-color: #424242;
  color: #eee;
}

.theme-dark .grid-box:hover {
  background-color: #424242;
}
