@use 'sass:math';

body {
  background-color: #fafafb;
}

ul,
ol {
  padding: 0;
}

body,
header {
  transition: background-color .5s;
}

header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid transparent;
  color: #333;
}

footer {
  padding: 20px 0;
}

.navbar-brand {
  font-size: 24px;
}

// logo
.logo-wrap {
  position: relative;
  float: left;
  width: 42px;
  height: 42px;
  margin-top: 9px;
  margin-right: 10px;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  transition: box-shadow .3s ease-in-out;
}

$logo-color: #ffa200;
$logo-line-width: 24px;
$logo-line-height: 4px;

.logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $logo-line-width;
  height: $logo-line-height;
  margin-top: math.div($logo-line-height, -2);
  margin-left: math.div($logo-line-width, -2);
  background: $logo-color;
  transform: rotateZ(45deg);

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: math.div($logo-line-width, 3);
    width: math.div($logo-line-width, 3);
    height: $logo-line-height;
    background: $logo-color;
  }

  &::after {
    top: 10px;
  }
}

.sidebar {
  padding-top: 32px;
  padding-bottom: 32px;

  > ul {
    position: sticky;
    top: 32px;
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      position: relative;
      display: block;

      + li {
        margin-top: 2px;
      }

      > a {
        position: relative;
        display: block;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 16px;
        color: #656565;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          background-color: #eee;
        }
      }
    }
  }
}

.content {
  > section {
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 5px 10px -7px rgba(87, 53, 117, .13), 0 10px 30px -6px rgba(0, 60, 170, .1);

    > h2 {
      padding-bottom: 20px;
      margin-top: 10px;
      border-bottom: 1px solid #f1f1f1;
    }
  }
}

.example {
  > .btn,
  > .btns {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

// Grid
.grid-box {
  margin: 10px 0;
  text-align: center;
  background-color: #ffeeed;
  line-height: 2;
  border: 1px solid #ffb7b5;
  border-radius: 4px;

  &:hover {
    background-color: #fbe2e1;
  }
}

// Palette
.palette {
  border-radius: 4px;
  min-height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  color: #fff;
  font-weight: bold;

  small {
    color: #fff;
  }
}

// Prettify code style
.com {
  color: #93a1a1;
}

.lit {
  color: #195f91;
}

.pun,
.opn,
.clo {
  color: #93a1a1;
}

.fun {
  color: #dc322f;
}

.str,
.atv {
  color: #d14;
}

.kwd,
.linenums .tag {
  color: #1e347b;
}

.typ,
.atn,
.dec,
.var {
  color: teal;
}

.pln {
  color: #48484c;
}

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.prettyprint.linenums {
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}

ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}

// Theme-dark

.theme-dark {
  header {
    background-color: #262626;
    border-color: #2d2d2d;
    color: #fff;
  }

  footer {
    background-color: #262626;
    border-color: #2d2d2d;
    color: #fff;
  }

  .content {
    > section {
      background-color: transparent;
      box-shadow: none;

      h2 {
        border-bottom-color: #2d2d2d;
      }
    }
  }

  .grid-box {
    background-color: #313131;
    border-color: #424242;
    color: #eee;

    &:hover {
      background-color: #2d2d2d;
    }
  }

  .sidebar > ul > li > a:hover {
    background-color: #191919;
  }

  // Prettify code style
  .com {
    color: #666;
  }

  .lit {
    color: #195f91;
  }

  .pun,
  .opn,
  .clo {
    color: #fff; // pun
  }

  .fun {
    color: #dc322f;
  }

  .str,
  .atv {
    color: #96b38a; // atv
  }

  .kwd,
  .linenums .tag {
    color: #a7925a; // tag
  }

  .typ,
  .atn,
  .dec,
  .var {
    color: #ddca7e; // atn
  }

  .pln {
    color: #fff; // pln
  }

  .prettyprint {
    background-color: #1f1f1f;
    border: 1px solid #313131;
  }

  .prettyprint.linenums {
    box-shadow: inset 40px 0 0 #292929, inset 41px 0 0 #313131;
  }

  ol.linenums li {
    text-shadow: none;
  }
}
