// --------------------------
// base
// --------------------------

*,*:before,*:after{
	box-sizing:inherit;
}
html {
	box-sizing:border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
