// --------------------------------------------------
// Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: .25rem .75rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: $btn-line-height;
  font-size: $btn-font-size;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  @each $name, $color in $color-map {
    &.#{$name} {
      color: $white;
      background-color: $color;

      &:hover {
        background-color: darken($color, 5%);
      }

      &:focus {
        background-color: darken($color, 5%);
        box-shadow: 0 0 0 .25rem rgba($color, .5);
      }

      &:active {
        background-color: darken($color, 5%);
      }
    }
  }

  &.link {
    color: $color-primary;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      color: darken($color-primary, 10%);
      text-decoration: underline;
      background-color: transparent;
    }

    &:focus {
      color: darken($color-primary, 10%);
      text-decoration: underline;
      background-color: transparent;
      box-shadow: 0 0 0 .25rem rgba($color-primary, .5);
    }

    &:active {
      color: darken($color-primary, 10%);
      text-decoration: underline;
      background-color: transparent;
    }
  }

  &.outline {
    background-color: transparent;

    @each $name, $color in $color-map {
      &.#{$name} {
        color: $color;
        border-color: $color;

        &:hover {
          color: $white;
          background-color: $color;
        }

        &:focus {
          color: $white;
          background-color: $color;
        }

        &:active {
          color: $white;
          background-color: $color;
        }
      }
    }
  }

  &.fluid {
    display: block;
    width: 100%;
  }

  &.pill {
    border-radius: 9999px;
  }
}

// Button group
.btns {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .btn {
    position: relative;
    float: left;
    border-radius: 0;
    margin-left: -$btn-border-width;

    &:first-child {
      margin-left: 0;
      border-top-left-radius: $btn-border-radius;
      border-bottom-left-radius: $btn-border-radius;
    }

    &:last-child {
      border-top-right-radius: $btn-border-radius;
      border-bottom-right-radius: $btn-border-radius;
    }
  }

  &.vertical {
    > .btn {
      position: relative;
      display: block;
      float: none;
      border-radius: 0;
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: -$btn-border-width;

      &:first-child {
        margin-top: 0;
        border-top-left-radius: $btn-border-radius;
        border-top-right-radius: $btn-border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $btn-border-radius;
        border-bottom-right-radius: $btn-border-radius;
      }
    }
  }
}
