// --------------------------
// button
// --------------------------
.btn {
    display: inline-block;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    line-height: $line-height-base;
    font-size: $font-size-base;
    color: #333;
    background-color: #fff;
    border: 1px solid darken($btn-color-default, 10%);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    // 设置按钮为块级元素
    &.fluid {
        display: block;
        width: 100%;
    }
    // 默认
    &.default {
        background-color: #f3f3f3;
        &:hover {
            background-color: darken(#f3f3f3, 5%);
        }
        &:focus {
            background-color: darken(#f3f3f3, 5%);
        }
        &:active {
            background-color: darken(#f3f3f3, 5%);
        }
    }
    // 反相
    &.inverse {
        color: #fff;
        background-color: $color-inverse;
        border: 1px solid darken($color-inverse, 15%);
        &:hover {
            background-color: lighten($color-inverse, 13%);
        }
        &:focus {
            background-color: lighten($color-inverse, 13%);
        }
        &:active {
            background-color: lighten($color-inverse, 13%);
        }
    }
    // 主题
    &.primary {
        background-color: $color-primary;
        border: 1px solid darken($color-primary, 10%);
        &:hover {
            background-color: darken($color-primary, 7%);
        }
        &:focus {
            background-color: darken($color-primary, 7%);
        }
        &:active {
            background-color: darken($color-primary, 7%);
        }
    }
}

.btn-group {
    display: table;
    >.btn {
        display: table-cell;
        border-radius: 0;
        margin-right: -1px;
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}
