// --------------------------
// Colors
// --------------------------
// background color
.bg-primary {
	background-color: $color-primary;
}

.bg-info {
	background-color: $color-info;
}

.bg-success {
	background-color: $color-success;
}

.bg-danger {
	background-color: $color-danger;
}

.bg-warning {
	background-color: $color-warning;
}

.bg-dark {
	background-color: $color-dark;
}

// text color
.text-muted {
	color: $grey;
}

.text-primary {
	color: $color-primary;
}

.text-info {
	color: $color-info;
}

.text-success {
	color: $color-success;
}

.text-danger {
	color: $color-danger;
}

.text-warning {
	color: $color-warning;
}

.text-white {
	color: $color-white;
}
