// --------------------------------------------------
// Forms
// --------------------------------------------------

// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

input[type="file"] {
  display: block;
}

textarea {
  resize: vertical;
}

label {
  display: inline-block;
  margin-bottom: .25rem;
}

.form-control {
  display: block;
  width: 100%;
  min-height: 2.25rem;
  padding: .25rem .5rem;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  background-color: $input-bg-color;
  background-clip: padding-box;
  font-size: $input-font-size;
  line-height: $input-line-height;
  color: $input-text-color;

  &:focus {
    outline: 0;
    border-color: $input-border-color-focus;
    box-shadow: 0 0 0 .25rem rgba($color-primary, .25);
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &:disabled,
  &[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }
}

.form-label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-bottom: 0;
}

// Label + Input
.form-group {
  margin-bottom: 1rem;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  input[type="file"],
  .form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding-left: 1.5rem;

  label {
    position: relative;
    display: inline-block;
    min-height: 1.5rem;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }

  &.disabled label {
    cursor: not-allowed;
  }

  &.inline {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    vertical-align: middle;
    font-weight: 400;
  }
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  position: absolute;
  margin-top: .25rem;
  margin-left: -1.5rem;
}

fieldset[disabled] {
  .form-control,
  .checkbox label,
  .radio label {
    cursor: not-allowed;
  }
}

.form-text {
  margin-top: .25rem;
  font-size: .875em;
  color: $form-text-color;
}
