// --------------------------
// Forms
// --------------------------
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]
input[type="file"] {
	display: block;
}

textarea {
	resize: vertical;
}

label {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-field {
	display: block;
	width: 100%;
	padding: 4px 8px;
	border: 1px solid $input-border-color;
	border-radius: $input-border-radius;
	background-color: $input-bg-color;
	font-size: $input-font-size;
	line-height: $input-line-height;
	color: $input-text-color;
	&:focus {
		border-color: $input-border-color-focus;
		outline: 0;
	}
	&[disabled] {
		cursor: not-allowed;
	}
}

.form-label {
	margin-bottom: 0;
	padding-top: 3px;
}

// label+input
.form-item {
	margin-bottom: 15px;
}

.form-inline {
	input[type="file"],
	.form-item {
		display: inline-block;
	}
	.form-field {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}

// horizontal
.form-row {
	.form-item {
		margin-right: -15px;
		margin-left: -15px;
		@include clearfix;
	}
}

// checkbox & radio
.checkbox,
.radio {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	cursor: pointer;
	label {
		position: relative;
		display: inline-block;
		min-height: 20px;
		margin-bottom: 0;
		font-weight: 400;
		cursor: pointer;
	}
	&.disabled label {
		cursor: not-allowed;
	}
	&.inline {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
		font-weight: 400;
	}
}

.checkbox+.checkbox,
.radio+.radio {
	margin-top: -5px;
}

.checkbox.inline+.checkbox.inline,
.radio.inline+.radio.inline {
	margin-top: 0;
	margin-left: 10px;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
	position: absolute;
	margin-top: 4px;
	margin-left: -20px;
}

// custom style
// .checkbox input[type="checkbox"],
// .radio input[type="radio"] {
// 	opacity: 0;
// 	z-index: 1;
// }
// .checkbox {
// 	label {
// 		&:before {
// 			font-family: "FontAwesome";
// 			content: "\f00c";
// 			display: inline-block;
// 			position: absolute;
// 			left: 0;
// 			top: 2px;
// 			width: 14px;
// 			height: 14px;
// 			margin-left: -20px;
// 			border: 1px solid #ccc;
// 			border-radius: 2px;
// 			background-color: #fff;
// 			font-size: 12px;
// 			line-height: 14px;
// 			color: #fff;
// 		}
// 	}
// 	input[type="checkbox"]:checked+label:before {
// 		color: #555;
// 	}
// }
// .radio {
// 	label {
// 		&:before {
// 			content: "";
// 			display: inline-block;
// 			position: absolute;
// 			left: 0;
// 			top: 2px;
// 			width: 14px;
// 			height: 14px;
// 			margin-left: -20px;
// 			border: 1px solid #ccc;
// 			border-radius: 50%;
// 			background-color: #fff;
// 			box-shadow: inset 0 0 0 3px #fff;
// 		}
// 	}
// 	input[type="radio"]:checked+label:before {
// 		background-color: #555;
// 	}
// }
// fieldset disabled
fieldset[disabled] {
	.form-control,
	.checkbox label,
	.radio label {
		cursor: not-allowed;
	}
}
