// --------------------------
// form
// --------------------------
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]
input[type="file"] {
    display: block;
}

.form-field {
    display: block;
    width: 100%;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.428;
    &:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 3px rgba(102, 175, 233, .3);
    }
}

.form-group {
    margin-bottom: 15px;
    @include clearfix;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-inline {
    input[type="file"],
    .form-group {
        display: inline-block;
    }
    .form-field {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

.form-row {
    .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }
}
