// --------------------------
//   grid
// --------------------------
$grid-columns: 12;
// looping
@for $i from 1 through $grid-columns {
    .col-#{$i} {
        width: percentage($i / $grid-columns);
    }
}

// equal looping
@for $i from 1 through $grid-columns {
    .cols-#{$i}>.col {
        width: percentage(1 / $i);
    }
}

// initialize
$i: 1;
$list: ".col-#{$i}";
// get list
@for $i from (1+1) through $grid-columns {
    $list: "#{$list}, .col-#{$i}";
}

#{$list},
.col {
    padding: 0 15px;
    float: left;
}

.row {
    margin: 0 -15px;
    @include clearfix;
}
