/*--------------------------
  grid
  --------------------------*/

$grid-columns: 12;
// looping
@for $i from 1 through $grid-columns {
    .col-#{$i} {
        width: percentage($i / $grid-columns);
    }
}

[class^='col-'] {
    float: left;
}
