// --------------------------
// grid
// --------------------------
$grid-columns: 12;
$grid-columns-10: 10;
// looping 12-grids default
@for $i from 1 through $grid-columns {
    .col-#{$i} {
        width: percentage($i / $grid-columns);
    }
}

// looping 10-grids
@for $i from 1 through $grid-columns-10 {
    .cols-10>.col-#{$i} {
        width: percentage($i / $grid-columns-10);
    }
}

// equal looping
@for $i from 1 through $grid-columns {
    .cols-#{$i}>.col-1 {
        width: percentage(1 / $i);
    }
}

// float
$i: 1;
$list: ".col-#{$i}";
// get list
@for $i from (1+1) through $grid-columns {
    $list: "#{$list}, .col-#{$i}";
}

#{$list} {
    float: left;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    #{$list} {
        padding-left: 15px;
        padding-right: 15px;
    }
    &.padded {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @include clearfix;
}

/* Flex Grid */
