// --------------------------------------------------
// Helpers
// --------------------------------------------------
// float
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.clearfix {
  @include clearfix;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// align
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

// text
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-uppercase {
  text-transform: uppercase;
}
