// --------------------------
// Helpers
// --------------------------
// float
.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.clearfix {
	@include clearfix;
}

// center
.center-inline {
	text-align: center;
	>div,
	>p {
		text-align: center;
	}
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// align
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-top {
	vertical-align: top;
}

.align-middle {
	vertical-align: middle;
}

.align-bottom {
	vertical-align: bottom;
}

// text
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-uppercase {
	text-transform: uppercase;
}

// border
.border-left-right {
	border-left: 1px solid $grey-lighter;
	border-right: 1px solid $grey-lighter;
}

.border-top-bottom {
	border-top: 1px solid $grey-lighter;
	border-bottom: 1px solid $grey-lighter;
}

.border-left {
	border-left: 1px solid $grey-lighter;
}

.border-right {
	border-right: 1px solid $grey-lighter;
}

.border-top {
	border-top: 1px solid $grey-lighter;
}

.border-bottom {
	border-bottom: 1px solid $grey-lighter;
}
