// --------------------------
// list
// --------------------------
.list {
    padding: 0;
    list-style: none;
    &.divided {
        >.item {
            border-bottom: 1px solid #ddd;
            &:last-child {
                border: none;
            }
        }
    }
    &.horizontal {
        @include clearfix;
        >.item {
            float: left;
        }
    }
}
