// --------------------------------------------------
// Media
// --------------------------------------------------

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.media-left {
  padding-right: 10px;
}

.media-right {
  padding-left: 10px;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-content {
  font-size: 13px;
}

// avatar
.avatar {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;

  img {
    display: block;
  }
}
