// --------------------------------------------------
// Media
// --------------------------------------------------
.media {
    display: table;
    color: #333;
    margin-bottom: 15px;
}

.media-center,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

.media-left {
    padding-right: 10px;
}

.media-right {
    padding-left: 10px;
}

.media-center {
    width: 10000px;
    text-align: left;
    @at-root {
        .media-heading {
            margin-top: 0;
            margin-bottom: 5px;
        }
        .media-content {
            font-size: 13px;
            color: #999;
        }
    }
    p {
        margin: 0;
        margin-bottom: 5px;
    }
}
