// --------------------------
// panel
// --------------------------
.panel {
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    >.panel-heading {
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    >.panel-body {
        padding: 15px;
    }
    >.panel-footer {
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    &.raised {
        border: 1px solid #eee;
        box-shadow: 0 2px 6px 0 rgba(34, 36, 38, .12);
    }
    &.primary {
        border: 1px solid $panel-border-color-primary;
    }
    &.info {
        border: 1px solid $panel-border-color-primary;
    }
    &.success {
        border: 1px solid $panel-border-color-primary;
    }
    &.danger {
        border: 1px solid $panel-border-color-primary;
    }
    &.warning {
        border: 1px solid $panel-border-color-primary;
    }
    &.dark {
        background-color: #1B1C1D;
        color: #fff;
        border: 1px solid #000;
    }
}

.panel-group {
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    >.panel {
        margin: 0;
        border-radius: 0;
        border: none;
        border-top: 1px solid #ddd;
        &:first-child {
            border: none;
        }
    }
}
