// --------------------------------------------------
// Reboot
// --------------------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: $text-color;
  line-height: $line-height-base;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  display: block;
  font-size: 12px;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  overflow: auto;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: darken($color-danger, 30%);
  background-color: lighten($color-danger, 30%);
  border-radius: 2px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: $white;
  background-color: $gray-dark;
  border-radius: 3px;
}
