// --------------------------
// utilites
// --------------------------
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    @include clearfix;
}

.center-inline {
    text-align: center;
    >div,
    p {
        text-align: center;
    }
}
