// --------------------------
// variables
// --------------------------

$grey:;

$color-primary:#ffcd20;

$color-inverse:#1B1C1D;

$line-height-base:;

$font-size-base:14px;

$text-color:#333;

// grid
$gutter:2em;


// panel
$panel-border-color:;
$panel-padding:1em;
