// --------------------------
// variables
// --------------------------

$grey:#ddd;

$color-primary:#ffcd20;

$color-inverse:#1B1C1D;
// type
$line-height-base:1.42857143;

$font-size-base:14px;

$text-color:#333;

// grid
$gutter:2em;


// panel
$panel-border-color-default:$grey;
$panel-bg-color-primary:$color-primary;
$panel-border-color-primary:darken($color-primary,10%);
$panel-padding:1em;

// button
$btn-color-default:#eee;
$btn-color-primary:$color-primary;
$btn-color-inverse:$color-inverse;
