// --------------------------------------------------
// Variables
// --------------------------------------------------

$white:                    #fff !default;
$gray-lighter:             #eee !default;
$gray-light:               #777 !default;
$gray:                     #555 !default;
$gray-dark:                #333 !default;
$gray-darker:              #111 !default;
$black:                    #000 !default;

$color-default:            #b6c2c9 !default;
$color-primary:            #348fe2 !default;
$color-info:               #49b6d6 !default;
$color-success:            #84b547 !default;
$color-danger:             #ff5b57 !default;
$color-warning:            #f59c1a !default;
$color-inverted:           #2d353c !default;

$color-map: (
  default:  $color-default,
  primary:  $color-primary,
  info:     $color-info,
  success:  $color-success,
  danger:   $color-danger,
  warning:  $color-warning,
  inverted: $color-inverted
);

// Typography
$line-height-base:         1.5 !default;
$font-size-base:           1rem !default;
$text-color:               $gray-dark !default;

// Grid
$grid-columns:             12 !default;
$grid-gutter:              1.5rem !default;

// Button
$btn-border-width:         2px !default;
$btn-border-radius:        6px !default;
$btn-font-size:            $font-size-base !default;
$btn-line-height:          $line-height-base !default;

// Table
$table-border-color:       rgba(0, 0, 0, .12) !default;
$table-head-bg-color:      rgba(100, 100, 150, .04) !default;
$table-striped-bg-color:   rgba(100, 100, 150, .04) !default;
$table-hover-bg-color:     rgba(100, 100, 150, .04) !default;
$table-border-radius:      6px !default;
$table-border-width:       2px !default;

// Form
$input-bg-color:           $white !default;
$input-border-color:       rgba(0, 0, 0, .12) !default;
$input-border-color-focus: $color-primary !default;
$input-border-width:       2px !default;
$input-border-radius:      6px !default;
$input-text-color:         $text-color !default;
$input-font-size:          $font-size-base !default;
$input-line-height:        $line-height-base !default;
$form-text-color:          $gray-light !default;

// Boxes
$box-bg-color:             $white !default;
$box-border-color:         rgba(0, 0, 0, .12) !default;
$box-border-inverted-color:rgba(0, 0, 0, .88) !default;
$box-heading-bg-color:     rgba(100, 100, 150, .04) !default;
$box-footer-bg-color:      rgba(100, 100, 150, .04) !default;
$box-border-radius:        .25rem !default;
$boxes-border-radius:      6px !default;
$boxes-border-width:       2px !default;
$boxes-box-border-radius:  $boxes-border-radius - $boxes-border-width !default;
